{{#each travel}}
<div>
    <p>Employee: {{name}}
        <br> From: {{startDate}}&nbsp;&nbsp;To: {{endDate}}
        <br> Leaving from: {{origin}}&nbsp;&nbsp;Flying to: {{destination}}
        <br> Requesting: {{airfare}},&nbsp;{{hotel}},&nbsp;car:{{car}}
    </p>
    <hr>
</div>

{{/each}}